<!DOCTYPE html>
<html dir="ltr" lang="en">


<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Learnpro - Education University School Kindergarten Learning HTML Template" />
<meta name="keywords" content="education,school,university,educational,learn,learning,teaching,workshop" />
<meta name="author" content="#" />

<!-- Page Title -->
<title>Tutorial | DevOpsSchool.com</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="192x192"  href="../dev-assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../dev-assets/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../dev-assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../dev-assets/favicon/favicon-96x96.png">
    <!-- LIBRARY CSS-->
      <link type="text/css" rel="stylesheet" href="../dev-assets/css/bootstrap.css">
  
    <!-- STYLE CSS    -->
    <link type="text/css" rel="stylesheet" href="../dev-assets/css/color-1.css">
	<link type="text/css" rel="stylesheet" href="../dev-assets/css/style.css">
    <link href="../dev-assets/css1/menuzord-megamenu.css" rel="stylesheet"/>
	<!-- CSS | Main style file -->
	<link href="../dev-assets/css1/style-main.css" rel="stylesheet" type="text/css">
	<!-- CSS | Preloader Styles -->

	<!-- CSS | Custom Margin Padding Collection -->
	<link href="../dev-assets/css1/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
	<!-- CSS | Responsive media queries -->
	<link href="../dev-assets/css1/responsive.css" rel="stylesheet" type="text/css">

	<!-- CSS | Theme Color -->
	<link href="../dev-assets/css1/colors/theme-skin-color-set2.css" rel="stylesheet" type="text/css">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<!-- external javascripts -->
	<script src="../dev-assets/js1/jquery-2.2.4.min.js"></script>

	<script src="../dev-assets/js1/bootstrap.min.js"></script>
	<!-- JS | jquery plugin collection for this theme -->
	<script src="../dev-assets/js1/jquery-plugin-collection.js"></script>
	<style>
		.panel-heading{font-size:26px;
		background-color:#514F4F;
		}
		
		ol { 
			list-style-type: decimal-leading-zero;
			margin-left: 60px;
			padding-bottom:15px;
			
			}
		.main { font-family: roboto;
			font-size: 20px;
		}
		.main a {font-size: 20px; }
		.main li{border-bottom: 1px solid grey; padding: 5px;}
		span{float:right;
		}
		.well{padding-left: 15px;}
	</style>
</head>
<body ng-app="instantSearch" ng-controller="InstantSearchController">
<div id="wrapper" class="clearfix">
 
 
 <!-- HEADER-->
<header id="header" class="header">
    <div class="header-top bg-theme-colored2 sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="widget text-white">
              <ul class="list-inline xs-text-center pt-5 text-white"style="font-size:16px;color:#fff">
                <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-phone text-white"></i> +91 700 483 5930</a> </li>
                <li class="m-0 pl-10 pr-10"> 
                  <a href="#" class="text-white"><i class="fa fa-envelope-o text-white mr-2"></i> contact@devopsschool.com</a> 
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="widget">
              <ul class="styled-icons icon-sm pull-right flip sm-pull-none sm-text-center mt-5">
                <li><a href="https://www.facebook.com/DevOpsSchool/" target="_blank"><i class="fa fa-facebook text-white"></i></a></li>
                <li><a href="https://twitter.com/DevOpsSchools" target="_blank"><i class="fa fa-twitter text-white"></i></a></li>
                <li><a href="https://plus.google.com/115053597576343633026"><i class="fa fa-google-plus text-white"></i></a></li>
                <li><a href="https://www.pinterest.nz/devopsschool/"><i class="fa fa-pinterest text-white"></i></a></li>
			 </ul>
            </div>
          </div>
          <div class="col-md-5">
            <ul class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10" style="font-size:14px">
              <li class="m-0 pl-10"> <a href="http://www.devopsschool.com/registration/online/" target="_blank"  class="text-white"><i class="fa fa-edit mr-5"></i>Register Online Course /</a> </li>
              <li class="m-0 pl-0 pr-10"> 
                <a href="http://www.devopsschool.com/registration/classroom/" class="text-white" target="_blank"><i class="fa fa-edit mr-5"></i>Register Classroom Course</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
         <div class="container pt-0 pb-0">
        <div class="row">
		 <div class="col-xs-12 col-sm-12 col-md-2">
            <a class="menuzord-brand pull-left flip sm-pull-center" href="http://www.devopsschool.com/"><img src="../dev-assets/images/logo-color-1.png" alt="DevOpsSchool-Logo"/></a>
          </div>
		  <div class="col-xs-12 col-sm-12 col-md-10">
          <nav id="menuzord" class="menuzord default menuzord-responsive">
			
            <ul class="menuzord-menu">
              <li><a href="http://www.devopsschool.com/">Home</a></li>
              <li class="active"><a href="http://www.devopsschool.com/tutorial/">Tutorials</a>
                <ul class="dropdown">
                  <li><a href="http://www.devopsschool.com/tutorial/" target="_blank">Web Tutorials</a></li>
				  <li><a href="http://www.devopsschool.com/video/" target="_blank">Video Tutorials</a></li>
				  <li><a href="http://www.devopsschool.com/slides/" target="_blank">HTML Slides</a></li>
				  <li><a href="http://www.devopsschool.com/pdf/" target="_blank">PDF Slides</a></li>
				  <li><a href="http://www.devopsschool.com/blog/" target="_blank">Blog</a></li>
                </ul>
              </li>
			  <li><a href="http://www.devopsschool.com/courses/" target="_blank">Courses</a></li>
			  <li><a href="https://www.devopsschool.com/events/" target="_blank">Events </a></li>
			  <li><a href="http://www.devopsschool.com/clients/" target="_blank" class="main-menu">Clients </a></li>
			  <li><a href="http://www.devopscertification.co/" target="_blank" class="main-menu">Certifications</a></li>
              <li><a href="http://www.devopsschool.com/quiz/" target="_blank">Quiz</a></li>			  
			  <li><a href="http://www.devopsconsulting.in/" target="_blank">Consulting</a></li>
			  <li><a href="https://www.devopsschool.com/testimonials/" target="_blank">Testimonials</a></li>
			  <li><a href="http://www.devopsschool.com/jobs/" target="_blank" class="main-menu">Jobs</a></li>
			  <li><a href="http://www.devopsschool.com/contact/" target="_blank">Contact</a></li>
			  
            </ul>
            
          </nav>
        </div>
      </div>
    </div>
	</div>
	</div>
  </header>
    <!-- WRAPPER-->
<div style="background-image:url(../dev-assets/images/devops-support.png)">
<br><br><center><h1 class = "title" style="color: white">DevOpsSchool Videos Library</h1></center><br><br>
</div>

	<!-- Main Video content Start-->
	<div class="container" style="padding-top:20px;">
		<div class="row">
		<div class="col-lg-4">
			<div class="bar" style="width:100%;">
				<!-- Create a binding between the searchString model and the text field -->
				<input type="text" ng-model="searchString" placeholder="Enter your Courses"/>
			</div>
			<div class="main">
			<ul ng-repeat="i in items | searchFor:searchString">
				<li><a href="{{i.url}}" target=_blank>{{i.title}}</a></li>
			</ul>
			</div>
		</div>
		<div class="col-lg-8" style="padding-top:35px">
		<!-- DevOps Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">1. What is DevOps</div>
			<div class="panel-body main">
				<ol> 
					<li><a href="https://www.devopsschool.com/video/devops/DevOps-Essentials.html" target=_blank> DevOps Fundamental <span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="https://www.devopsschool.com/video/devops/Complete-CICD-Implementation-from-Scratch.html" target=_blank>Complete CICD Implementation from Scratch <span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="https://www.devopsschool.com/video/devops/cicd-pipeline-using-jenkins.html" target=_blank>CICD Pipeline Using Jenkins <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
			</div>
		</div>
	
		<!-- DevOps Section End-->
		
		<!-- Virtualization and Containerization Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">2. Learn to Create a Lab & Infrastructure using Virtualization and Containerization</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Docker</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/docker/index.html" target=_blank> Docker Video Library <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Amazon AWS</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/aws/index.html" target=_blank>Amazon AWS ALL <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Vagrant-TDB</div>
				<ol>
					<li>Vagrant <span class="fa fa-file-video-o"> </span></li>
				</ol>
			</div>
		</div>
		<!-- Virtualization and Containerization Section End-->
		
		<!-- Source Code Management Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">3. Learn About Source Code Management</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Git</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/git/index.html" target=_blank> Git Video Tutorials <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Subversion</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/subversion/svn-fundamental.html" target=_blank>Subversion Fundamental V1 <span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="https://www.devopsschool.com/video/subversion/svn-fundamental-v2.html" target=_blank>Subversion Fundamental V2 <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Perforce</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/helix/" target=_blank>Perforce/Helix Fundamental <span class="fa fa-file-video-o"> </span></a></li>
					<li>Perforce/Helix Advance <span class="fa fa-file-video-o"> </span></li>
				</ol>
			</div>
		</div>
		<!-- Source Code Management Section End-->
		
		<!-- Build Automation Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">4. Learn About Build Automation</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Apache Ant</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/apache-ant/ant-fundamental-v1.html" target=_blank> Apache Ant Fundamental V1 <span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="https://www.devopsschool.com/video/apache-ant/ant-fundamental-v2.html" target=_blank> Apache Ant Fundamental V2 <span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="https://www.devopsschool.com/video/apache-ant/ant-fundamental-v3.html" target=_blank> Apache Ant Fundamental V3 <span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="https://www.devopsschool.com/video/apache-ant/apache-ant-and-jenkins-fundamental.html" target=_blank> Apache Ant and Jenkins Fundamental <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Apache Maven</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/apache-maven/index.html" target=_blank>Maven<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Gradle</div>
				<ol>
					<li>Gradle Fundamental <span class="fa fa-file-video-o"> </span></li>
					<li>Gradle Advance <span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				<div class="well well-sm">&#9658; Nant</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/nant/nant-fundamental.html" target=_blank>NANT Fundamental <span class="fa fa-file-video-o"> </span></a></li>
					<li>NANT Advance <span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				<div class="well well-sm">&#9658; MsBuild</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/msbuild/msbuild-essential.html" target=_blank>MSBuild Essentials<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Makefile</div>
				<ol>
					<li>Makefile Fundamental<span class="fa fa-file-video-o"> </span></li>
					<li>Makefile Advance<span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				
			</div>
		</div>
		<!-- Build Automation Section End-->
		
		
		<!-- Packaing and Repository Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">5. Learn About Packaing and Repository Systems</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Sonatype Nexus</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/nexus/index.html" target=_blank> Nexus Video Collection <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Artifactory</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/artifactory/index.html" target=_blank>Artifactory<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Nuget</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/nuget/git-nuget-fundamental.html" target=_blank>Git and Nuget Fundamental <span class="fa fa-file-video-o"> </span></a></li>
					<li>XXXX Advance <span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				<div class="well well-sm">&#9658; World of Packaging</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/packaging/PackageManagementwithLinux.html" target=_blank>Package Management with Linux <span class="fa fa-file-video-o"> </span></a></li>
					<li>XXXX Advance <span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				<div class="well well-sm">&#9658; Chocolatey</div>
				<ol>
					<li><a href="" target=_blank><span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Powershell Gallery</div>
				<ol>
					<li><a href="#" target=_blank><span class="fa fa-file-video-o"> </span></a></li>
					
				</ol>
				
				
			</div>
		</div>
		<!-- Packaing and Repository Section End-->
		
		
		<!-- Deployment and Configuration Management Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">6. Learn About Deployment and Configuration Management</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Puppet</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/puppet/index.html" target=_blank> Puppet <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Chef</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/chef/index.html" target=_blank>Chef<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Ansible</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/ansible/index.html" target=_blank>Ansible <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
			</div>
		</div>
		<!-- Deployment and Configuration Management Section End-->
		
		<!-- Continuous Integration Tool Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">7. Learn About Continuous Integration Tool</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Jenkins</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/jenkins/index.html" target=_blank> Jenkins Video Library <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Teamcity</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/teamcity/index.html" target=_blank>TeamCity Videos Library<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Bamboo</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/bamboo/index.html" target=_blank>Bamboo Video Gallery <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; TFS</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/tfs/index.html" target=_blank>Team Foundation Server Videos Library <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Octopus Deploy</div>
				<ol>
					<li><a href="" target=_blank>Octopus Deploy Fundamental<span class="fa fa-file-video-o"> </span></a></li>
					<li><a href="" target=_blank>Octopus Deploy Advance<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; UDeploy</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/udeploy/index.html" target=_blank>UDeploy Essentials<span class="fa fa-file-video-o"> </span></a></li>
					<li>UDeploy Advance<span class="fa fa-file-video-o"> </span></li>
				</ol>
			</div>
		</div>
		<!-- Continuous Integration Tool Section End-->
		
		<!-- Incident Management Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">8. Learn About Project / Incident Management tool</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Jira</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/jira/index.html" target=_blank> Jira Video Gallery <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Zendesk</div>
				<ol>
					<li>Zendesk Video Gallery<span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				<div class="well well-sm">&#9658; Trello</div>
				<ol>
					<li>Trello Video Gallery<span class="fa fa-file-video-o"> </span></li>
				</ol>
			</div>
		</div>
		<!-- Incident Management Section End-->
		
		
		<!-- Quality and Security Analysis Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">9. Learn About Quality and Security Analysis tool</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Sonarqube</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/sonarqube/index.html" target=_blank> SonarQube Video Gallery <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Jacoco</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/jacoco/index.html" target=_blank>Jacoco Video Gallery<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
				
				<div class="well well-sm">&#9658; Coverity</div>
				<ol>
					<li><span class="fa fa-file-video-o"> </span></li>
				</ol>
			</div>
		</div>
		<!-- Quality and Security Analysis Section End-->
		
		<!-- Scripting Langauage Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">10. Learn About Operating System and Scripting Langauage</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Linux</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/linux/bash-scripting/index.html" target=_blank> Bash Scripting <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Ruby Scripting</div>
				<ol>
					<li><span class="fa fa-file-video-o"> </span></li>
				</ol>
				
				<div class="well well-sm">&#9658; Python</div>
				<ol>
					<li><span class="fa fa-file-video-o"> </span></li>
				</ol>
			</div>
		</div>
		<!-- Scripting Langauage Section End-->
		
		<!-- Kubernetes and Swarm Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">11. Kubernetes and Swarm</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Kubernetes</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/kubernetes/index.html" target=_blank> Kubernetes <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
					<div class="well well-sm">&#9658; Nagios</div>
				<ol>
					<li><a href="https://www.devopsschool.com/video/nagios/index.html" target=_blank>Nagios Video Gallery<span class="fa fa-file-video-o"> </span></a></li>
				</ol>
			
			</div>
		</div>
		<!-- Kubernetes and Swarm Section End-->
		
		<!-- DevOps Monitoring Tools Courses Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">12. DevOps Monitoring Tools Courses</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Splunk</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/splunk/" target=_blank> Splunk Essentials Part 1 <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
			</div>
		</div>
		<!-- DevOps Monitoring Tools Courses Section End-->
		
		<!-- Cloud Tools Section Start-->
		<div class="panel panel-primary">
		  <div class="panel-heading">13. Cloud Tools Courses</div>
			<div class="panel-body main">
				<div class="well well-sm">&#9658; Terraform</div>
				<ol> 
					<li><a href="https://www.devopsschool.com/video/terraform/" target=_blank> Terraform Essentials Part 1 <span class="fa fa-file-video-o"> </span></a></li>
				</ol>
			</div>
		</div>
		<!-- Cloud Tools Section End-->
		</div>
	</div>
	</div>
	<!-- Main Video content End-->

<!-- Footer -->
  <footer id="footer" class="footer" style="background-color:#212331">
    <div class="container pt-50 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Address</h4>
            <p class="text-white">Cospaze, BVR Lake Front Veerannapalya Main Road,Nagawara, Bangalore 560045</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-5 pr-5"> <i class="fa fa-phone text-theme-colored2 mr-5"></i> <a class="text-white" href="#">+91 700 483 5930</a> </li>
              <li class="m-0 pl-5 pr-5"> <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i> <a class="text-white" href="mailto:contact@DevopsSchool.com">contact@devopsschool.com</a> </li>
              <li class="m-0 pl-5 pr-5"> <i class="fa fa-globe text-theme-colored2 mr-5"></i> <a  href="http://www.devopsschool.com/" target="_blank" class="text-white">www.devopsschool.com</a> </li>
            </ul>            
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-5">
              <li><a href="https://www.facebook.com/DevOpsSchool/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/DevOpsSchools" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://devopsschool.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
			  <li><a href="https://www.instagram.com/devopsschool/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://plus.google.com/100509567956930374127" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul><br>
			<a href="https://www.google.com/search?ei=0BWRW7ilOcn5rQGVhK3oBg&q=devopsschool&oq=devopsschool&gs_l=psy-ab.3..35i39k1l2j0i30k1j0i10i30k1.31510.39761.0.40116.27.18.0.0.0.0.434.2310.0j1j7j0j1.9.0....0...1c.1.64.psy-ab..18.7.1618...0j0i67k1j0i131k1j0i20i263k1j0i10k1.0.jNdpHyy3l58#lrd=0x3bae15d656aeaaab:0xe5ca07dae2353764,3,,," target="_blank"><img src="../dev-assets/images/Review_Us_on_Google-White (1).png" style="width:150px"></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-2">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Community</h4>
            <ul class="angle-double-right list-border">
              <li><a href="https://groups.google.com/forum/#!forum/devopsschool" target="_blank">Google Groups 1</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/cicd" target="_blank">Google Groups 2</a></li>
              <li><a href="https://www.linkedin.com/groups/6727934" target="_blank">Linkedin Groups 1</a></li>
              <li><a href=" https://www.facebook.com/groups/DevOpsIndia/" target="_blank">Facebook Group 1</a></li>
              <li><a href="https://www.facebook.com/groups/scmgalaxy/" target="_blank">Facebook Group 2</a></li>  
            </ul>
          </div>
        </div>
         <div class="col-sm-6 col-md-2">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Tutorials</h4>
            <ul class="angle-double-right list-border">
              <li><a href="http://www.devopsschool.com/video/" target="_blank">Video Tutorials</a></li>
              <li><a href="http://www.devopsschool.com/tutorial/" target="_blank">Web Tutorials</a></li>
              <li><a href="http://www.devopsschool.com/tutorial/" target="_blank">HTML Slides Tutorials</a></li>
              <li><a href="http://www.devopsschool.com/pdf/" target="_blank">PDF Sides Tutorials</a></li>
              <li><a href="http://www.devopsschool.com/quiz/" target="_blank">Quiz</a></li>
			  
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-2">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Useful Reference</h4>
            <div class="opening-hours">
               <ul class="angle-double-right list-border">
              <li><a href="http://www.devopsschool.com/community/index.html" target="_blank">DevOps Community</a></li>
              <li><a href="https://www.devopsschool.com/support/" target="_blank">DevOps Support</a></li>
              <li><a href="http://www.devopstrainer.in/" target="_blank">DevOps Trainer</a></li>
              <li><a href="http://www.devopsconsulting.in/" target="_blank">DevOps Consulting</a></li>
              <li><a href="http://www.bestdevops.com/" target="_blank">DevOps News & Events</a></li>
			  
            </ul>
            </div>
          </div>
        </div>
		<div class="col-sm-6 col-md-2">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Training Events</h4>
            <div class="opening-hours">
              <ul class="angle-double-right list-border">
              <li><a href="https://www.devopsschool.com/courses/" target="_blank">Online Training</a></li>
              <li><a href="https://www.devopsschool.com/events/" target="_blank">Classroom Trainng</a></li>
              <li><a href="https://www.devopsschool.com/events/" target="_blank">Free Webinars</a></li>
              <li><a href="https://www.devopsschool.com/trainer/" target="_blank">Trainers</a></li>
              <li><a href="https://www.devopsschool.com/training/" target="_blank">Training</a></li>
            </ul>
            </div>
          </div>
        </div>
		
		<div class="col-sm-6 col-md-1">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Links</h4>
            <div class="opening-hours">
              <ul class="angle-double-right list-border">
              <li><a href="http://www.devopsschool.com/about/" target="_blank">About us </a></li>
              <li><a href="http://www.devopsschool.com/support/" target="_blank">Support </a></li>
              <li><a href="http://www.devopsschool.com/calender/" target="_blank">Calender</a></li>
              <li><a href="http://www.devopsschool.com/gallery/" target="_blank">Gallery</a></li>
              <li><a href="http://www.devopsschool.com/comparison/" target="_blank">Comparison</a></li>
              <li><a href="http://www.devopsschool.com/courses/agenda/index.html" target="_blank">Agenda</a></li>
            </ul>
            </div>
          </div>
        </div>
		
      </div>
	  
	  <div class="row">
		<div class="footer-main" style="background-color:#212331">
			 <div class="container">
				<center>
				   <hr>
				   <div style="padding-bottom: 10px;">
					  <ul class="list-inline" style="float:left">
						 <li><a href="http://www.devopsschool.com/about/refund-policy/" target="_blank" title="DevOpsSchool - Refund Policy"><b>Refund Policy &emsp;| </b></a></li>
						 <li><a href="http://www.devopsschool.com/about/privacy-policy/" target="_blank" title="DevOpsSchool - Privacy Policy"><b>Privacy Policy &emsp;| </b></a></li>
						 <li><a href="http://www.devopsschool.com/about/terms-and-conditions/" target="_blank" title="DevOpsSchool - Terms and Condition"><b>Terms and Condition</b></a></li>
					  </ul>
					  <ul class="list-inline" style="float:right;color:white;">
						 <li> <p>Copyright &copy; 2018 DevOpsSchool Inc  All  Rights  Reserved</p></li>
					  </ul>
				</center>
				<br>
				</div>
			 </div>
		</div>
		<div class="footer-main">
			 <!-- fixed footer -->
			 <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: #242c42;min-height:35px;">
				<div class="container-fluid">
				   <div class="navbar-right" style="margin-right: 25%; padding:5px;">
					  <div class="contact-no">
						 <i class="fa fa-phone" style="font-size:17px;color:white"></i> &nbsp;
						 <span style="font-size:17px;color:white">Call us on +91 700 483 5930&nbsp;  |&nbsp; +91 620 228 8364</span>&emsp;
						 <span class="hdmaito">
						 <a href="mailto:contact@DevopsSchool.com">
						 <i class="fa fa-envelope-o" style="font-size:17px;color:white"></i> &nbsp;
						 <span style="font-size:17px;color:white">contact@DevopsSchool.com</span>
						 </a>
						 </span>
					  </div>
				   </div>
				</div>
			 </nav>
		</div>
		</div>
	</div>
  </footer>
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
         var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
         (function(){
         var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
         s1.async=true;
         s1.src='https://embed.tawk.to/5a5b2a81d7591465c706baa1/default';
         s1.charset='UTF-8';
         s1.setAttribute('crossorigin','*');
         s0.parentNode.insertBefore(s1,s0);
         })();
      </script>
<script src="../https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="../dev-assets/js1/custom.js"></script>
	<script src="js/script.js"></script>
	<script src="../dev-assets/js1/count.js"></script>
</body>

</html>